#menu .pure-menu-heading {
    font-size: 100%;
    padding: .5em .5em;
}
.header h2 {
    font-size: 1em;
}
.panel  {
    display: none;
}
.content {
    margin: 0px;
}
.page {
    margin-top: 40px;
}
.pure-button {
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.main-buttons {
    margin: 50px auto;
    text-align: center;
}
.main-buttons button {
    width: 100px;
    margin: 5px auto;
}
.button-update {
    background: #1f8dd6;
}
.button-reset {
    background: rgb(202, 60, 60);
}
.button-reconnect {
    background: rgb(202, 60, 60);
}
.button-add-topic {
    margin-top: 5px;
    background: rgb(28, 184, 65);
}
.button-del-topic {
    margin-top: 5px;
    background: rgb(202, 60, 60);
}

.button-more-topic {
    margin-top: 5px;
    background: rgb(223, 117, 20);
}

.button-del-network {
    background: rgb(202, 60, 60);
}

.pure-g {
    margin-bottom: 20px;
}
legend {
    font-weight: bold;
}
.l-box {
    padding-right: 1px;
}
#panel-display .pure-g,
#topics .pure-g {
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 2px dashed #e5e5e5;
}
label.form-label {
    margin-top: 8px;
    font-weight: bold;
}
#topics div.more {
    display: none;
}
.pure-form input[type=text][disabled] {
    color: #777777;
}
div.hint {
    font-size: 80%;
    color: #ccc;
    margin-top: 0px;
}
#template-topics {
    display: none;
}
input[name="topic"] {
    background-color: rgba(223, 117, 20, 0.3);
}
div.slidebox {
    width: 200px;
}
